@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables";

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-black;
    padding: 1rem 2rem;

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__logoImg {
        width: 5rem;

        @include mobile {
            width: 80px;
        }

        @include desktop {
            width: 120px;
        }
    }

    &__links {
        color: white;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        @include tablet {
            display: none;
        }
    }

    &__opensans {
        margin: 0 1rem;
        cursor: pointer;

        &:hover {
            color: $color-grey;
        }
    }

    &__navbar-login {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include mobile {
            display: none;
        }
    }

    &__login-link {
        color: white;
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.5s ease;

        &:hover {
            border-bottom: 1px solid $color-golden;
        }
    }

    &__divider {
        width: 0.1rem;
        height: 2rem;
        background-color: $color-grey;
    }

    &__reserve-link {
        color: white;
        margin: 0 1rem;
        text-decoration: none;
        transition: 0.5s ease;

        &:hover {
            border-bottom: 1px solid $color-golden;
        }
    }

    &__smallscreen {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__smallscreen-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 10px);
        background: $color-black;
        transition: 0.5s ease;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        z-index: 5;
    }

    &__smallscreen-overlay,
    &__overlay-close {
        font-size: 1.5rem;
        color: $color-golden;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    &__smallscreen-opensans {
        margin: 1rem 0;
        cursor: pointer;

        &:hover {
            color: var(--color-white);
        }
    }

    &__smallscreen-links {
        color: $color-white;
        list-style: none;
        margin-top: calc(100vh - 40%);
        color: $color-golden;
        font-family: $font-base;

        @include mobile {
            margin-top: calc(100vh - 130%);
        }
    }

    @include mobile {
        padding: 1rem;
    }
}
